.user-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.user-card img{
    width: 100%;
    border-radius: 8px;
}

.user-card button{
    background-color: aqua;
    color: black;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;

}